<!DOCTYPE html>
<html lang="en">

<body>
<form method="post">
            <h1>new live data</h1>
            <p>
            <input type=text name=soc value=soc>
            <p>
            <input type=text name=load_kwh value=load_kwh>
            <p>
            <input type=text name=net_load_kwh value=net_load_kwh>
            <p>
            <label><input type=checkbox name=pv_notification> pv_notification</label>
            <p>
            <label><input type=checkbox name=bio_notification> bio_notification</label>
            <p>
            <label><input type=checkbox name=cro_notification> cro_notification</label>
            <p>
            <p><input type=submit value=save></p>

            </form>
</body>
</html>